# ASSIGNMENT 4

1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [11]:
import selenium     #import respective libraries for web scraping using selenium
import pandas as pd 
from selenium import webdriver 
import warnings    
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException 
from selenium.webdriver.common.by import By
import time

# first connect to the driver-
driver=webdriver.Chrome(r"D:\chromedriver_win32.zip\chromedriver.exe")
driver.maximize_window()
#opening the page on automated chrome browser
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [19]:
Rank=[]
Name=[]
Artist=[]
Upload_date=[]
Views=[]

#scraping rank from the given page
rank=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
for r in rank[0:30]:
    ranks=r.text
    Rank.append(ranks)
#scraping name from the given page
name=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
for n in name[0:30]:
    names=n.text
    Name.append(names)
#scraping artist from the given page
artist=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
for a in artist[0:30]:
    art=a.text
    Artist.append(art)
#scraping uploaddate from the given page
uploaddate=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
for u in uploaddate[0:30]:
    upload=u.text
    Upload_date.append(upload)
#scraping views from the given page 
views=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
for v in views[0:30]:
    view=v.text
    Views.append(view)

In [21]:
#make a dataframe from the above data
df=pd.DataFrame({'Rank':Rank[0:30],'Name':Name[0:30],'Artist':Artist[0:30],'Upload_date':Upload_date,'Views':Views})
df

,Rank,Name,Artist,Upload_date,Views
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,12.00,"June 17, 2016"
1,2.,"""Despacito""[7]",Luis Fonsi,8.05,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,6.57,"October 8, 2016"
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,5.89,"May 2, 2018"
4,5.,"""Shape of You""[16]",Ed Sheeran,5.88,"January 30, 2017"
5,6.,"""See You Again""[18]",Wiz Khalifa,5.74,"April 6, 2015"
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,5.08,"March 6, 2014"
7,8.,"""Uptown Funk""[24]",Mark Ronson,4.79,"November 19, 2014"
8,9.,"""Wheels on the Bus""[25]",Cocomelon – Nursery Rhymes,4.77,"May 24, 2018"
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,4.76,"February 27, 2018"
10,11.,"""Gangnam Style""[27]",Psy,4.64,"July 15, 2012"
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,4.52,"January 31, 2012"
12,13.,"""Dame Tu Cosita""[33]",El Chombo,4.18,"April 5, 2018"
13,14.,"""Sugar""[34]",Maroon 5,3.80,"January 14, 2015"
14,15.,"""Roar""[35]",Katy Perry,3.70,"September 5, 2013"
15,16.,"""Counting Stars""[36]",OneRepublic,3.70,"May 31, 2013"
16,17.,"""Axel F""[37]",Crazy Frog,3.67,"June 16, 2009"
17,18.,"""Sorry""[38]",Justin Bieber,3.62,"October 22, 2015"
18,19.,"""Thinking Out Loud""[39]",Ed Sheeran,3.53,"October 7, 2014"
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,3.46,"June 25, 2018"
20,21.,"""Dark Horse""[41]",Katy Perry,3.42,"February 20, 2014"
21,22.,"""Waka Waka (This Time for Africa)""[42]",Shakira,3.40,"June 4, 2010"
22,23.,"""Faded""[43]",Alan Walker,3.38,"December 3, 2015"
23,24.,"""Let Her Go""[44]",Passenger,3.36,"July 25, 2012"
24,25.,"""Girls Like You""[45]",Maroon 5,3.35,"May 31, 2018"
25,26.,"""Perfect""[46]",Ed Sheeran,3.33,"November 9, 2017"
26,27.,"""Bailando""[47]",Enrique Iglesias,3.31,"April 11, 2014"
27,28.,"""Lean On""[48]",Major Lazer,3.31,"March 22, 2015"
28,29.,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,3.26,"January 26, 2018"
29,30.,"""Lakdi Ki Kathi""[50]",Jingle Toons,3.24,"June 14, 2018"

2. Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [88]:
import selenium     #import respective libraries for web scraping using selenium
import pandas as pd 
from selenium import webdriver 
import warnings    
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException 
from selenium.webdriver.common.by import By
import time

# first connect to the driver-
driver=webdriver.Chrome(r"D:\chromedriver_win32.zip\chromedriver.exe")
driver.maximize_window()
#opening the page on automated chrome browser
driver.get("https://www.bcci.tv/")
time.sleep(5)

In [89]:
#reach the international fixture page
page=driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
page.click()

In [90]:
Match_title=[]
Series=[]
Place=[]
Date=[]
Time=[]
#scrap match data from the given page
match=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
for m in match:
    matches=m.text
    Match_title.append(matches)
#scrap series data from the given page
series=driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
for s in series:
    serie=s.text
    Series.append(serie)
#scrap place data from the given page    
place=driver.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]')
for p in place:
    pla=p.text
    Place.append(pla)
#scrap date from the given page    
date=driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]')
for d in date:
    da=d.text
    Date.append(da)
#scrap time from the given page    
time=driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]')
for t in time:
    ti=t.text
    Time.append(ti)

In [91]:
#make a dataframe from above data
df=pd.DataFrame({'Match_title':Match_title,'Series':Series,'Place':Place,'Date':Date,'Time':Time})
df

,Match_title,Series,Place,Date,Time
0,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,4th T20I -,"4th T20I - Steyn City School Ground, Pretoria",2 JAN 2023,5:15 PM IST
1,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,1st T20I -,"1st T20I - Wankhede Stadium, Mumbai",3 JAN 2023,7:00 PM IST
2,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,5th T20I -,"5th T20I - Steyn City School Ground, Pretoria",4 JAN 2023,1:30 PM IST
3,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,2nd T20I -,2nd T20I - Maharashtra Cricket Association Sta...,5 JAN 2023,7:00 PM IST
4,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,3rd T20I -,3rd T20I - Saurashtra Cricket Association Stad...,7 JAN 2023,7:00 PM IST
5,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,1st ODI -,"1st ODI - Barsapara Cricket Stadium, Guwahati",10 JAN 2023,1:30 PM IST
6,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,2nd ODI -,"2nd ODI - Eden Gardens, Kolkata",12 JAN 2023,1:30 PM IST
7,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,3rd ODI -,"3rd ODI - Greenfield International Stadium, Th...",15 JAN 2023,1:30 PM IST

3. Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [112]:
import selenium     #import respective libraries for web scraping using selenium
import pandas as pd 
from selenium import webdriver 
import warnings    
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException 
from selenium.webdriver.common.by import By
import time

# first connect to the driver-
driver=webdriver.Chrome(r"D:\chromedriver_win32.zip\chromedriver.exe")
driver.maximize_window()
#opening the page on automated chrome browser
driver.get(" https://www.guru99.com/")

In [113]:
#click on selenium page
item=driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a")
item.click()

In [114]:
#click on selenium exception
page=driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a")
page.click()

In [115]:
Data=[]
#scrap name and description of types of selenium exception handling
data=driver.find_elements(By.XPATH,'//div[@class="entry-content single-content"]/p')
for n in data[0:41]:
    names=n.text
    Data.append(names)

In [116]:
Data

['1. ElementNotVisibleException: This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.',
 '2. ElementNotSelectableException: This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.',
 '3. NoSuchElementException: This Exception occurs if an element could not be found.',
 '4. NoSuchFrameException: This Exception occurs if the frame target to be switched to does not exist.',
 '5. NoAlertPresentException: This Exception occurs when you switch to no presented alert.',
 '6. NoSuchWindowException: This Exception occurs if the window target to be switch does not exist.',
 '7. StaleElementReferenceException: This Selenium exception occurs happens when the web element is detached from the current DOM.',
 '8. SessionNotFoundException: The WebDriver is acting after you quit the browser.',
 '9. TimeoutException: Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn’t found in the specified time.',
 '10. WebDriverException: This Exception takes place when the WebDriver is acting right after you close the browser.',
 '11. ConnectionClosedException: This type of Exception takes place when there is a disconnection in the driver.',
 '12. ElementClickInterceptedException: The command may not be completed as the element receiving the events is concealing the element which was requested clicked.',
 '13. ElementNotInteractableException: This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.',
 '14. ErrorInResponseException: This happens while interacting with the Firefox extension or the remote driver server.',
 '15. ErrorHandler.UnknownServerException: Exception is used as a placeholder in case if the server returns an error without a stack trace.',
 '16. ImeActivationFailedException: This expectation will occur when IME engine activation has failed.',
 '17. ImeNotAvailableException: It takes place when IME support is unavailable.',
 '18. InsecureCertificateException: Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.',
 '19. InvalidArgumentException: It occurs when an argument does not belong to the expected type.',
 '20. InvalidCookieDomainException: This happens when you try to add a cookie under a different domain instead of current URL.',
 '21. InvalidCoordinatesException: This type of Exception matches an interacting operation that is not valid.',
 '22. InvalidElementStateException: It occurs when command can’t be finished when the element is invalid.',
 '23. InvalidSessionIdException: This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.',
 '24. InvalidSwitchToTargetException: This occurs when the frame or window target to be switched does not exist.',
 '25. JavascriptException: This issue occurs while executing JavaScript given by the user.',
 '26. JsonException: It occurs when you afford to get the session when the session is not created.',
 '27. NoSuchAttributeException: This kind of Exception occurs when the attribute of an element could not be found.',
 '28. MoveTargetOutOfBoundsException: It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.',
 '29. NoSuchContextException: ContextAware does mobile device testing.',
 '30. NoSuchCookieException: This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.',
 '31. NotFoundException: This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.',
 '32. RemoteDriverServerException: This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.',
 '33. ScreenshotException: It is not possible to capture a screen.',
 '34. SessionNotCreatedException: It happens when a new session could not be successfully created.',
 '35. UnableToSetCookieException: This occurs if a driver is unable to set a cookie.',
 '36. UnexpectedTagNameException: Happens if a support class did not get a web element as expected.',
 '37. UnhandledAlertException: This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.',
 '38. UnexpectedAlertPresentException: It occurs when there is the appearance of an unexpected alert.',
 '39. UnknownMethodException: This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.',
 '40. UnreachableBrowserException: This Exception occurs only when the browser is not able to be opened or crashed because of some reason.',
 '41. UnsupportedCommandException: This occurs when remote WebDriver doesn’t send valid commands as expected.']

4. Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [119]:
import selenium     #import respective libraries for web scraping using selenium
import pandas as pd 
from selenium import webdriver 
import warnings    
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException 
from selenium.webdriver.common.by import By
import time

# first connect to the driver-
driver=webdriver.Chrome(r"D:\chromedriver_win32.zip\chromedriver.exe")
driver.maximize_window()
#opening the page on automated chrome browser
driver.get(" http://statisticstimes.com/")

In [120]:
item=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/button")
item.click()

In [121]:
p=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
p.click()

In [124]:
a=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
a.click()

In [125]:
Rank=[]
State=[]
GSDP_18=[]
GSDP_19=[]
Share=[]
GDP=[]
#scrap rank from the given page
rank=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[1]')
for r in rank[0:33]:
    ra=r.text
    Rank.append(ra)
#scrap state data from the given page
state=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[2]')
for s in state[0:33]:
    st=s.text
    State.append(st)
#scrap gsdp 19-20 data from the given page   
gsdp_19=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[3]')
for g in gsdp_19[0:33]:
    gs=g.text
    GSDP_19.append(gs)
#scrap gsdp 18-19 data from the given page        
gsdp_18=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[4]')
for gsd in gsdp_18[0:33]:
    gt=gsd.text
    GSDP_18.append(gt)
#scrap share data from the given page    
share=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[5]')
for sh in share[0:33]:
    sha=sh.text
    Share.append(sha)
#scrap gdp data from the given page    
gdp=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[6]')
for gd in gdp[0:33]:
    h=gd.text
    GDP.append(h)

In [128]:
#make a dataframe from the above data
df=pd.DataFrame({'Rank':Rank[0:33],'State':State[0:33],'GSDP(18-19)at current prices':GSDP_18[0:33],'GSDP(19-20) at current prices':GSDP_19[0:33],'Share(18-19)':Share[0:33],'GDP($billion)':GDP[0:33]})
df

,Rank,State,GSDP(18-19)at current prices,GSDP(19-20) at current prices,Share(18-19),GDP($billion)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

5. Scrape the details of trending repositories on Github.com. Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [133]:
import selenium     #import respective libraries for web scraping using selenium
import pandas as pd 
from selenium import webdriver 
import warnings    
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException 
from selenium.webdriver.common.by import By
import time

# first connect to the driver-
driver=webdriver.Chrome(r"D:\chromedriver_win32.zip\chromedriver.exe")
driver.maximize_window()
#opening the page on automated chrome browser
driver.get("https://github.com/")

In [134]:
#click on explore menu
item=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button")
item.click()

In [135]:
#click on trending
p=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a")
p.click()

In [136]:
Title=[]
Description=[]
Count=[]
Language=[]
#scrap title from the given page
title=driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]')
for t in title:
    tit=t.text
    Title.append(tit)
#scrap description from the given page
description=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for d in description:
    desc=d.text
    Description.append(desc)
#scrap contributions count from the given page
count=driver.find_elements(By.XPATH,'//div[@class="f6 color-fg-muted mt-2"]/a[2]')
for c in count:
    co=c.text
    Count.append(co)
#scrap language used from the given page
language=driver.find_elements(By.XPATH,'//div[@class="f6 color-fg-muted mt-2"]/span[1]')
for l in language:
    lang=l.text
    Language.append(lang)

In [138]:
#make a dataframe from above scrapped data
df=pd.DataFrame({'Repository title':Title,'Respository Description':Description,'Contributors count':Count,'Language used':Language})
df

,Repository title,Respository Description,Contributors count,Language used
0,LAION-AI / Open-Assistant,OpenAssistant is a chat-based assistant that u...,224,Jupyter Notebook
1,karpathy / nanoGPT,"The simplest, fastest repository for training/...",43,Python
2,sczhou / CodeFormer,[NeurIPS 2022] Towards Robust Blind Face Resto...,307,Python
3,DarkFlippers / unleashed-firmware,Flipper Zero Unleashed Firmware,364,C
4,ytdl-org / youtube-dl,Command-line program to download videos from Y...,"8,484",Python
5,google / osv-scanner,Vulnerability scanner written in Go which uses...,167,Go
6,pola-rs / polars,"Fast multi-threaded, hybrid-streaming DataFram...",576,Rust
7,neonbjb / tortoise-tts,A multi-voice TTS system trained with an empha...,246,Python
8,Developer-Y / cs-video-courses,List of Computer Science courses with video le...,"6,955",Built by
9,dair-ai / Prompt-Engineering-Guide,🐙 Guide and resources for prompt engineering,41,Built by
10,Ebazhanov / linkedin-skill-assessments-quizzes,Full reference of LinkedIn answers 2022 for sk...,"11,764",Python
11,ocornut / imgui,Dear ImGui: Bloat-free Graphical User interfac...,"7,792",C++
12,AmruthPillai / Reactive-Resume,A one-of-a-kind resume builder that keeps your...,"1,140",TypeScript
13,PRQL / prql,PRQL is a modern language for transforming dat...,121,Rust
14,A-poc / RedTeam-Tools,Tools and Techniques for Red Team / Penetratio...,69,Built by
15,jerryjliu / gpt_index,An index created by GPT to organize external i...,41,Python
16,imDazui / Tvlist-awesome-m3u-m3u8,直播源相关资源汇总 📺 💯 IPTV、M3U —— 勤洗手、戴口罩，祝愿所有人百毒不侵,"2,280",Built by
17,aurae-runtime / aurae,Distributed systems runtime daemon written in ...,50,Rust
18,zlib-searcher / zlib-searcher,search zlib/libgen index to get ipfs_cid.,224,TypeScript
19,BrunoLevy / learn-fpga,"Learning FPGA, yosys, nextpnr, and RISC-V",138,C++
20,alist-org / alist,🗂️A file list program that supports multiple s...,"2,090",Go
21,freeCodeCamp / freeCodeCamp,freeCodeCamp.org's open-source codebase and cu...,"30,662",TypeScript
22,Atlas-OS / Atlas,"🚀 An open-source modification of Windows 10, d...",141,Batchfile
23,SheerSt / pokewilds,PokeWilds - A Gen 2 Game/Engine using libGDX,122,Assembly
24,jwasham / coding-interview-university,A complete computer science study plan to beco...,"64,595",Built by

6. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [209]:
import selenium     #import respective libraries for web scraping using selenium
import pandas as pd 
from selenium import webdriver 
import warnings    
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException 
from selenium.webdriver.common.by import By
import time

# first connect to the driver-
driver=webdriver.Chrome(r"D:\chromedriver_win32.zip\chromedriver.exe")
driver.maximize_window()
#opening the page on automated chrome browser
driver.get(" https:/www.billboard.com/")

In [210]:
#click on charts option
item=driver.find_element(By.XPATH,"/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a")
item.click()

In [213]:
#click of hot 100 page 
p=driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]/span/a")
p.click()

In [214]:
Song_name=[]
Artist_name=[]

#scrap song name data from the given page 
name=driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]')
for n in name:
    Song_name.append(n.text)
#scrap artist name from the given page
artist=driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
for a in artist:
    Artist_name.append(a.text)

In [215]:
#make a dataframe from above data
df=pd.DataFrame({'Song_name':Song_name,'Artist_name':Artist_name})
df

                                   Song_name                  Artist_name
0          Rockin' Around The Christmas Tree                   Brenda Lee
1                           Jingle Bell Rock                  Bobby Helms
2                    A Holly Jolly Christmas                    Burl Ives
3                             Last Christmas                        Wham!
4   It's The Most Wonderful Time Of The Year                Andy Williams
..                                       ...                          ...
94                                 Down Home                 Jimmie Allen
95                       One Thing At A Time                Morgan Wallen
96                            Hold Me Closer  Elton John & Britney Spears
97                                       Far                          SZA
98                                  All Mine                 Brent Faiyaz

[99 rows x 2 columns]

7. Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [148]:
import selenium     #import respective libraries for web scraping using selenium
import pandas as pd 
from selenium import webdriver 
import warnings    
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException 
from selenium.webdriver.common.by import By
import time

# first connect to the driver-
driver=webdriver.Chrome(r"D:\chromedriver_win32.zip\chromedriver.exe")
driver.maximize_window()
#opening the page on automated chrome browser
driver.get("https://www.naukri.com/")

In [149]:
#send data science as keys on search bar
search=driver.find_element(By.CLASS_NAME,"suggestor-input") 
search.send_keys("Data Science")

In [150]:
#click on search button
btn=driver.find_element(By.CLASS_NAME,"qsbSubmit")
btn.click()

In [154]:
Name=[]
Company=[]
Skills=[]
Location=[]
#scrap name from the given page
name=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for n in name:
    na=n.text
    Name.append(na)
#scrap company from the given page
company=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for c in company:
    co=c.text
    Company.append(co)
#scrap skills from the given page
skills=driver.find_elements(By.XPATH,'//ul[@class="tags has-description"]')
for s in skills:
    sk=s.text
    Skills.append(sk)
#scrap location from the given page
location=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for l in location:
    lo=l.text
    Location.append(lo)

In [157]:
#make a dataframe from the above data
df=pd.DataFrame({'Name':Name,'Company':Company,'Skills':Skills,'Location':Location})
df

,Name,Company,Skills,Location
0,Python - Data Science Analyst,Infosys,python\nagile methodologies\nSAP Tableau\nAnal...,Bhubaneswar
1,Technology Analyst - Data Science / Machine Le...,Infosys,Data Science\nagile methodologies\ndebugging\n...,Bangalore/Bengaluru
2,ACN - Applied Intelligence - Finance - Data Sc...,Accenture,Computer science\nData analysis\nHealthcare\nS...,Bangalore/Bengaluru
3,ACN - Applied Intelligence - Finance - Data Sc...,Accenture,Data analysis\nMachine learning\nHealthcare\nS...,Bangalore/Bengaluru
4,Analyst - Data Science,Visa,Coding\nConsulting\nPredictive modeling\nManag...,Mumbai
5,"SENIOR MANAGER I, DATA SCIENCE",Walmart,Automation\nData analysis\nProduction support\...,Bangalore/Bengaluru
6,"Senior Manager II, Data Science",Walmart,Data analysis\nData management\nCoding\nConsul...,Bangalore/Bengaluru
7,ACN - Applied Intelligence - CC - Data Science...,Accenture,Data analysis\nAnalytical\nConsulting\nAnalyti...,Gurgaon/Gurugram
8,ACN - Applied Intelligence - Finance - Data Sc...,Accenture,Data analysis\nMachine learning\nHealthcare\nS...,Chennai
9,ACN - Applied Intelligence - Finance - Data Sc...,Accenture,Data analysis\nMachine learning\nHealthcare\nS...,Mumbai
10,ACN - Applied Intelligence - Finance - Data Sc...,Accenture,Data analysis\nMachine learning\nHealthcare\nS...,Gurgaon/Gurugram
11,Data Science Professional,Infosys,Data Science\nPython\nGCP\nAzure\nR\nwritten c...,Bangalore/Bengaluru
12,Data Analyst - Data Science,Awign Enterprises,Data Science\nData Pipeline\nDashboards\nData ...,Bangalore/Bengaluru
13,Senior Analyst & AI Lead - Data Science,Huquo Consulting Pvt. Ltd,Data Science\nR\nNLP\nRNN\nLSTM\nDNN\nArtifici...,"New Delhi, Faridabad, Gurgaon/Gurugram, Delhi ..."
14,Analyst / Senior Analyst Data Science & Strategy,AMERICAN EXPRESS,Interpersonal skills\nOperations research\nAna...,Gurgaon/Gurugram
15,Manager- Data Science,Tredence,data science\nMachine Learning\nPython\nPredic...,"Hybrid - Pune, Bangalore/Bengaluru, Delhi / NCR"
16,SnapLogic Data Science Practitioner,Accenture,Consulting\nJDBC\nInformatica\nMicrosoft Dynam...,Mumbai
17,ACN - Applied Intelligence - CC - Data Science...,Accenture,Consulting\nApplication development\nAnalytics...,Gurgaon/Gurugram
18,Manager - Data Science,Morningstar,Unix\nImage processing\nBusiness analytics\nMa...,Mumbai
19,ACN - Applied Intelligence - CC - Data Science...,Accenture,Supply chain management\nConsulting\nApplicati...,Gurgaon/Gurugram

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey- compare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [162]:
import selenium     #import respective libraries for web scraping using selenium
import pandas as pd 
from selenium import webdriver 
import warnings    
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException 
from selenium.webdriver.common.by import By
import time

# first connect to the driver-
driver=webdriver.Chrome(r"D:\chromedriver_win32.zip\chromedriver.exe")
driver.maximize_window()
#opening the page on automated chrome browser
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [168]:
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]
#scrap book name from the given page
bookname=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
for b in bookname:
    bo=b.text
    Book_name.append(bo)
#scrap author name from the given page
authorname=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
for a in authorname:
    au=a.text
    Author_name.append(au)
#scrap volumes sold from the given page
volumessold=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
for v in volumessold:
    vo=v.text
    Volumes_sold.append(vo)
#scrap publisher from the given page
publisher=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
for p in publisher:
    pu=p.text
    Publisher.append(pu)
#scrap genre from the  given page
genre=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
for g in genre:
    ge=g.text
    Genre.append(ge)

In [170]:
#make a data frame from above data
df=pd.DataFrame({'Book Name':Book_name,'Author_name':Author_name,'Volumes_sold':Volumes_sold,'Publisher':Publisher,'Genre':Genre})
df

,Book Name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

9. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [172]:
import selenium     #import respective libraries for web scraping using selenium
import pandas as pd 
from selenium import webdriver 
import warnings    
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException 
from selenium.webdriver.common.by import By
import time

# first connect to the driver-
driver=webdriver.Chrome(r"D:\chromedriver_win32.zip\chromedriver.exe")
driver.maximize_window()
#opening the page on automated chrome browser
driver.get("https://www.imdb.com/list/ls095964455/")

In [193]:
Name=[]
Year=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]
#scrap name from the given page
name=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a')
for n in name:
    na=n.text
    Name.append(na)
#scrap year from the given page    
year=driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
for y in year:
    ye=y.text
    Year.append(ye)
#scrap genre from the given page
genre=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]/span[5]')
for g in genre:
    ge=g.text
    Genre.append(ge)
#scrap run time from the given page
run_time=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]/span[3]')
for r in run_time:
    Run_time.append(r.text)
#scrap ratings from the given page
ratings=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]')
for r in ratings:
    ra=r.text
    Ratings.append(ra)
#scrap votes from the given page
votes=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"][3]')
for v in votes:
    vo=v.text
    Votes.append(vo)

In [195]:
#make a dataframe from the above data
df=pd.DataFrame({'Name':Name[:100],'Year':Year[:100],'Genre':Genre[:100],'Run_time':Run_time[:100],'Ratings':Ratings[:100],'Votes':Votes[:100]})
df

,Name,Year,Genre,Run_time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"Votes: 2,100,254"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"Votes: 1,190,515"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"Votes: 994,233"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"Votes: 294,244"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"Votes: 253,345"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"Votes: 50,378"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"Votes: 61,989"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"Votes: 199,956"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"Votes: 41,715"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"Votes: 247,010"

10. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [196]:
import selenium     #import respective libraries for web scraping using selenium
import pandas as pd 
from selenium import webdriver 
import warnings    
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException 
from selenium.webdriver.common.by import By
import time

# first connect to the driver-
driver=webdriver.Chrome(r"D:\chromedriver_win32.zip\chromedriver.exe")
driver.maximize_window()
#opening the page on automated chrome browser
driver.get("https://archive.ics.uci.edu/")

In [197]:
#click on all datapage 
c=driver.find_element(By.XPATH,"/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b")
c.click()

In [200]:
Name=[]
Type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attributes=[]
Year=[]
#scrap name from the given page
name=driver.find_elements(By.XPATH,'//p[@class="normal"]/b/a')
for n in name:
    Name.append(n.text)
#scrap type from the given page    
type=driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td/table/tbody/tr/td[2]/p/b/a')
for t in type:
    Type.append(t.text)
#scrap task from the given page
task=driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[3]/p')
for ta in task:
    Task.append(ta.text)
#scrap attributes type from the given page    
attribute=driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[4]/p')
for a in attribute:
    at=a.text
    Attribute_type.append(at)
#scrap no of instances from the given page
instances=driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[5]/p')
for i in instances:
    No_of_instances.append(i.text)
#scrap no of attributes from the given page    
noofattributes=driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[6]/p')
for no in noofattributes:
    No_of_attributes.append(no.text)
#scrap year from the given page
year=driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[7]/p')
for y in year:
    Year.append(y.text)

In [208]:
#make a dataframe from the above data
df=pd.DataFrame({'Name':Name[:622],'Type':Type[:622],'Task':Task[1:624],'Attribute_type':Attribute_type[1:624],'No_of_instances':No_of_instances[1:624],'No_of_attributes':No_of_attributes[1:624],'Year':Year[1:624]})
df

,Name,Type,Task,Attribute_type,No_of_instances,No_of_attributes,Year
0,Abalone,Abalone,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Adult,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Annealing,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,Anonymous Microsoft Web Data,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Arrhythmia,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Influenza outbreak event prediction via Twitte...,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Turkish Music Emotion Dataset,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,Maternal Health Risk Data Set,Classification,,1014,7,2020
620,Room Occupancy Estimation,Room Occupancy Estimation,Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Image Recognition Task Execution Times in Mobi...,Regression,Real,4000,2,2021